main{
  padding: 8px;
  min-height: 82vh;
}

.App-header{
  background: indigo;
  color: white;
  padding: 0.5em 1em;
}

footer{
  margin-bottom: 1em;
}

footer, footer>span{
  color: grey;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
}